{
  "inbounds": [{
    "tag": "vmess-ws-in",
    "port": {{ l2_vmess_ws_port | mandatory }},
    "protocol": "vmess",
    "settings": {
      "clients": [{ "id": "{{ l2_vmess_ws_secret | mandatory }}" }]
    },
    "streamSettings": {
      "tlsSettings": {
        "allowInsecure": false,
        "certificates": [{
          "certificateFile": "{{ container_cert_dir | mandatory }}/live/{{ l2_domain | mandatory }}/fullchain.pem",
          "keyFile": "{{ container_cert_dir | mandatory }}/live/{{ l2_domain | mandatory }}/privkey.pem"
        }]
      },
      "network": "ws",
      "security": "tls",
      "wsSettings": {
        "path": "{{ l2_vmess_ws_path | mandatory }}"
      }
    }
  },
  {
    "tag": "vmess-in",
    "port": {{ l2_vmess_port | mandatory }},
    "protocol": "vmess",
    "settings": {
      "clients": [{ "id": "{{ l2_vmess_secret | mandatory }}" }]
    }
  },
  {
    "tag": "tg-in",
    "port": {{ l2_mtproto_port | mandatory }},
    "protocol": "mtproto",
    "settings": {
      "users": [{
        "secret": "{{ l2_mtproto_secret | mandatory }}"
      }]
    }
  }],
  "outbounds": [{
    "tag": "tg-out",
    "protocol": "mtproto",
    "settings": {}
  }, {
    "tag": "free-out",
    "protocol": "freedom",
    "settings": {}
  }],
  "routing": {
    "rules": [{
      "type": "field",
      "inboundTag": ["tg-in"],
      "outboundTag": "tg-out"
    }, {
      "type": "field",
      "inboundTag": ["vmess-ws-in", "vmess-in"],
      "outboundTag": "free-out"
    }]
  }
}
